config
node_modules
package-lock.json
dist
coverage/
notes
.vscode
request.http
microservice-proof-7fd4fba13381.json
.env
/build-utils/presets/webpack.typescript.js
webpack.config copy.js
scripts.json

