html {
  font-family: "Andale Mono";
  color: #0f99ff;
  background-color: rgb(10, 10, 10);
  font-size: 20px;
}

#title {
  padding-left: 20%;
  font-size: 25px;
}

.fetch {
  margin: 0 auto;
  margin-top: 10%;
  width: 25%;
  padding: 45px;
  text-align: center;
  background-color: #0f0e0e;
  border: rgb(3, 47, 119);
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
}

.input {
  padding: 10px;
  width: 85%;
  height: 1px;
  background-color: black;
  border: rgb(3, 47, 119);
  border-style: solid;
  border-width: 1px;
  font-family: "Andale Mono";
  color: #0f99ff;
}

::placeholder {
  color: #0f99ff;
  font-family: "Andale Mono";
  opacity: 1;
}

.sidebar {
  height: 100%;
  width: 20%;
  margin: 0;
  margin-top: -250px;
  font-size: 15px;
  background-color: rgb(10, 10, 10);
  padding-bottom: 50px;
  padding-top: 60px;
  padding: 30px;
}

#texts {
  font-size: 12px;
  text-align: center;
}

#copies {
  text-align: center;
  padding: 5px;
}

#get {
  text-align: center;
  cursor: pointer;
  border: rgb(10, 10, 10);
  border-bottom: rgb(61, 58, 58);
  border-style: solid;
  padding: 10px;
  border-width: 1px;
}

.clickable {
  cursor: pointer;
  background: #0f0e0e;
  color: #0f99ff;
  border: 5px;
  height: 20px;
  width: 25%;
  background-color: black;
  font-family: "Andale Mono";
  border: rgb(3, 47, 119);
  border-style: solid;
  border-width: 1px;
}

.modal-close {
  text-align: right;
  cursor: pointer;
  font-size: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
}

/* .pod {
     text-align: right;
     color: red;
 }

 .node {
     display: flex;
     flex-direction: column-reverse;
     justify-content: flex-end;
     color: white;
 }

 .card {
     display: flex;
     flex-direction: column-reverse;
     justify-content: flex-start;
     color: green;
 } */

#graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 35px;
}

#circle {
  border: rgb(10, 10, 10);
  border-right: rgb(61, 58, 58);
  border-width: 1px;
  border-style: solid;
}

#line {
  padding-left: 25px;
}

.node-div {
  display: flex;
  border: rgb(3, 47, 119) solid 1px;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: auto;
}

.container-div {
  display: flex;
  border: rgb(3, 47, 119) solid 1px;
  flex-direction: column;
  padding: 15px;
  width: 80%;
  text-align: center;
  align-items: center;
  margin: auto;
}

.pod-div {
  display: flex;
  border: rgb(3, 47, 119) solid 1px;
  flex-direction: column;
  padding: 15px;
  width: 80%;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card {
  display: flex;
  border: rgb(3, 47, 119) solid 1px;
  flex-direction: column;
  width: 50%;
  text-align: center;
  align-items: center;
  margin: auto;
}