.landingContainer {
    display: flex;
    margin-top: -72px;
}

#loginContainer {
    margin: 16px;
    width: 240px;
    padding: 16px;
    text-align: center;
    background-color: rgba(250, 250, 250, .8);
    border-style: none;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
}

.textBox {
    margin: 16px;
    width: 240px;
    padding: 16px;
    background-color: rgba(250, 250, 250, .8);
    border-style: none;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
}

.colContainer {
    display: flex;
    margin: auto
}

.column {
    /* margin: 32px; */
    width: 300px;
    text-align: center;
}

.iconsBox a{
    margin-left: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: #2E6CE6;
    margin: 0px auto;
}

hr {
    width: 90%;
    margin: 8px auto 16px auto;
    border-color: #2E6CE6;
    border-width: 2px;
    border-style: solid;
}

#loginContainer input {
    width: 90%;
    border-style: none;
    outline: none;
    margin: 8px auto 8px;
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    color: dodgerblue;
}

#loginContainer button {
    width: 64px;
    height: 24px;
    margin: 4px auto 0px;
    border-style: none;
    border-radius: 4px;
    background-color: #2E6CE6;
    color: ghostwhite;
    outline: none;
    cursor: pointer;
}

#about {
    margin: auto;
    margin-top: 160px;    
    width: 66%;
}

/* #2E6CE6 */